.container {
    margin-top: 0.625em;
}

.fieldset {
    border: none;
    padding: 0;
}

.legend {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0;
}

.settingsField {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0.75rem;
}
